.slider {
    width: 40%;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.between {
    font-family: monospace;
}

#selectBalls, #selectTime , #selectGhosts{
    font-family: monospace;
    letter-spacing: 0px;
}

#numGhosts, [id^="colorpicker"] , #ghost{
    font-family: monospace;

}

#number{
    width: 3em;
  }

#selectColor{
    letter-spacing: -1px;
    font-family: monospace;

}

.settings-btn {
    font-family: monospace;
    background: black;
    /* box-shadow: 0 0 20px 9px #f147041f; */
    color: rgb(253, 253, 223);
    /* padding: 5px 160px; */
    /* margin:0px; */
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    /* font-size: 15px; */
    letter-spacing: 1px;
    transition: .5s;
    font-size: 100%;
    border: 0;
    position: relative;
    /* padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 10px;
    padding-left: 10px; */
    width: 40%;
    height: 100%;
    /* display: inline-block; */
    

}

/* }
.Home_button {
	position: relative;
    margin: 1px auto;	width: 500px;
	height: 250px;
	background: linear-gradient(0deg, #000, #272727);
} */

.settings-btn:before, .block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;

}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.settings-btn:after {
	filter: blur(50px);
}
#image-container {
    width: 50px;
    height: 50px;
    position: relative;
    display:inline-flex;
}

#image {
    position: absolute;
    top: 0;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#image-container2 {
    width: 50px;
    height: 50px;
    position: relative;
    display:inline-flex;
}

#image4 {
    position: absolute;
    top: 0;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#image-container4 {
    width: 50px;
    height: 50px;
    position: relative;
    display:inline-flex;
}

#image2 {
    position: absolute;
    top: 0;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#image-container3 {
    width: 50px;
    height: 50px;
    position: relative;
    display:inline-flex;
}

#image3 {
    position: absolute;
    top: 0;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.flags {

    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 3px; */
    font-size: 10px;
    /* line-height: 0px; */
    margin: 0;
    padding: 0;
    /* display: inline-block; */
    vertical-align: top;
  
    

    font-weight: 400;
}
label {
    margin-right: 10px;
}

.select{
    /* line-height: 100px; */
    font-family: monospace;
  font-size: 12px;
  color: black;
  background-color: transparent;
  border: 2px solid #333;
  border-radius: 5px;
  /* padding: 5px; */
  font-weight: 400;

  margin: 0;
  padding: 0;




}





